[submodule "emacs/tahti/vendor/cedet"]
	path = emacs/tahti/vendor/cedet
	url = git@github.com:tahti/cedet.git
[submodule "emacs/tahti/vendor/vimvars"]
	path = emacs/tahti/vendor/vimvars
	url = https://github.com/emacsmirror/vimvars.git
[submodule "emacs/tahti/vendor/policy-switch"]
	path = emacs/tahti/vendor/policy-switch
	url = https://github.com/emacsmirror/policy-switch.git
[submodule "emacs/tahti/vendor/desktop-menu"]
	path = emacs/tahti/vendor/desktop-menu
	url = https://github.com/emacsmirror/desktop-menu
[submodule "emacs/tahti/vendor/help-mode-plus"]
	path = emacs/tahti/vendor/help-mode-plus
	url = https://github.com/emacsmirror/help-mode-plus.git
[submodule "emacs/tahti/vendor/help-fns-plus"]
	path = emacs/tahti/vendor/help-fns-plus
	url = https://github.com/emacsmirror/help-fns-plus.git
[submodule "emacs/tahti/vendor/help-plus"]
	path = emacs/tahti/vendor/help-plus
	url = https://github.com/emacsmirror/help-plus.git
[submodule "emacs/tahti/vendor/menu-bar-plus"]
	path = emacs/tahti/vendor/menu-bar-plus
	url = https://github.com/emacsmirror/menu-bar-plus.git
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
