Trolltech.conf
enchant
dconf
inkscape
libreoffice
qBittorrent
yelp
parcellite
smplayer
sound-juicer
Clementine
Undertype
abiword
ario
autostart
calibre
chromium
eog
evolution
google-googletalkplugin
gtk-2.0
lxmusic
lxpanel
menus
nautilus
openbox
pavucontrol.ini
pcmanfm
volumeicon
xarchiver
xmms2
xbuild
volti
gtk-3.0
Thunar
pulse
xfce4
VirtualBox
git
vlc
moonlight
MonoDevelop
MonoDevelop-4.0
viewnior
stetic
gpicview
QtProject.conf
sigil-ebook
.mono/
KeePass/
Skype/
adtool/
astromenace/
bless/
gpick/
htop/
lxterminal/
nitrogen/
unity3d/
wireshark/
Empathy/
Hex-Rays/
MuseScore/
autokey/
banshee-1/
clipit/
geeqie/
ghb/
kdeglobals
klipperrc
komparerc
leafpad/
libfm/
nvim/
openttd/
org.kde.gwenviewrc
radare2/
systemsettingsrc
IronSnout
jd-gui.cfg
QtProject
icedtea-web
