i3-vim-syntax
vim-abolish
vim-metarw-git
nerdcommenter
vim-markdown
vim-repeat
webapi-vim
splitjoin.vim
vim-metarw
vim-speeddating
gundo.vim
textile.vim
vim-metarw-gdrive
vim-unimpaired
Align
vis
cecutil
